@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-field {
    @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 border p-2 text-gray-700;
  }
}